ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed, absolute;
    

}
li {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}
li a {
    display: block;
    color: hsl(116, 63%, 17%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover { 
    background-color: #31c763;
}

li.name a {
    float: right;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    color: #e6ffee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-right: 5%;
}

h1, h2 {
    display: block;
    font-family: 'Courier New', Courier, monospace; 
}
body {
    background-image: url('bos.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
.index {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border: 12px double black;
    position: center;
    text-align: center;
    margin-top: 15%;
    margin-left: 40%;
}

